<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="partials :: head">
  <meta charset="UTF-8">
  <title>post index</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
<form action="/posts/create" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title" id="title">
  <lable for="body">Body</lable><br>
  <textarea name="body" id="body" cols="30" rows="10"></textarea>
  <button type="submit">Submit Post</button>
</form>
<footer th:replace="partials :: footer"></footer>
<div th:insert="partials :: boot-scripts"></div>
</body>

</html>