<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
  <h1>You guessed <span th:text="${diceroll}"></span></h1>
  <h1>Dice roll was <span th:text="${random}"></span></h1>
  <div th:if="${diceroll == random.toString()}">
      You guessed right!
  </div>
  <div th:if="${diceroll != random.toString()}">
      You guessed wrong
  </div>
  <footer th:replace="partials :: footer"></footer>
  <div th:insert="partials :: boot-scripts"></div>
</body>
</html>