
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials :: head">
  <meta charset="UTF-8">
  <title>Roll the Dice</title>
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
<h1>Guess what number the dice shall rollllllll!!!!!</h1>
<a href="http://localhost:8080/roll-dice/1">1</a>
<a href="http://localhost:8080/roll-dice/2">2</a>
<a href="http://localhost:8080/roll-dice/3">3</a>
<a href="http://localhost:8080/roll-dice/4">4</a>
<a href="http://localhost:8080/roll-dice/5">5</a>
<a href="http://localhost:8080/roll-dice/6">6</a>

</form>

<footer th:replace="partials :: footer"></footer>
<div th:insert="partials :: boot-scripts"></div>
</body>
</html>